In [11]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
import sklearn
from sklearn.decomposition import TruncatedSVD

In [12]:
df=pd.read_csv('edumat.csv')
df.head()

     UserID  Rating                             Item
0  Ayanabha       4                    MAT2001CAT1 Q
1      Yash       3                  Thomas Calculus
2  Ayanabha       2                  Thomas Calculus
3     Soham       4  Probability and Random Variable
4  Ayanabha       5                  Data Structures

In [13]:
d=df.pivot(index='Item',columns='UserID',values='Rating').fillna(0)
d

UserID,Alpanshu,Arpit,Ayanabha,Biswajit,Saswat,Soham,Yash
Item,,,,,,,
CSE2003CAT1 Q,0.0,0.0,0.0,1.0,0.0,0.0,0.0
CSE2003CAT2 Q,0.0,3.0,0.0,0.0,0.0,0.0,0.0
Data Structures,0.0,0.0,5.0,0.0,0.0,0.0,1.0
Digital Logic,0.0,0.0,3.0,0.0,0.0,3.0,5.0
Engineering Chemistry,5.0,0.0,0.0,0.0,0.0,0.0,0.0
MAT2001CAT1 Q,0.0,0.0,4.0,0.0,4.0,4.0,5.0
Operating Systems,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Probability and Random Variable,3.0,0.0,0.0,0.0,0.0,4.0,0.0
Thomas Calculus,0.0,0.0,2.0,0.0,4.0,0.0,3.0

In [14]:
m=csr_matrix(d.values)
print(m)

  (0, 3)	1.0
  (1, 1)	3.0
  (2, 2)	5.0
  (2, 6)	1.0
  (3, 2)	3.0
  (3, 5)	3.0
  (3, 6)	5.0
  (4, 0)	5.0
  (5, 2)	4.0
  (5, 4)	4.0
  (5, 5)	4.0
  (5, 6)	5.0
  (6, 3)	1.0
  (7, 0)	3.0
  (7, 5)	4.0
  (8, 2)	2.0
  (8, 4)	4.0
  (8, 6)	3.0

In [15]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(metric='cosine',algorithm='brute')
model.fit(m)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [16]:
dx=pd.read_csv('newfile.txt')
x=dx.columns[0]

In [17]:
q=0
for i in range(d.shape[0]):
    if(d.index[i]==x):
        q=i

In [18]:
dist,indices=model.kneighbors(d.iloc[q,:].values.reshape(1, -1),n_neighbors=5)

In [19]:
%%capture cap --no-stderr
for i in range(0,len(dist.flatten())):
    if i==0:
        print('Recommendations for {0}:\n'.format(d.index[q]))
    else:
        print('{0}: {1}'.format(i,d.index[indices.flatten()[i]]))

In [20]:
with open('D:/wamp/www/IWP Project/output.txt', 'w') as f:
    f.write(cap.stdout)